body {
    background-image: url("./Grey&LimeAMG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -50;

}


.imagesDiv {
    font-family: 'Arial Narrow Bold', sans-serif;
    color: lime;
    font-weight: 600;
    text-rendering: initial;
    text-align: center;
    text-decoration: underline;
    border-color: limegreen;
    border-style: solid 5px;
    background-size: cover;
    background-position: center;


}

.col-9 {
    background-color: lightslategray;
    opacity: 0.9;
    border: lime;
    border-style: solid;
    flex-basis: content;
}

.col-sm-3 {
    color: lime;
    font-size: larger;
    font-weight: bold;
    float: right;
    flex-basis: auto;
    text-align: center;
}

.new-line {
    display: block;
}